body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.8em;
  margin-left: 20px;
  text-transform: uppercase;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffc107;
}

.search-bar {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px 0 0 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar button {
  background-color: #ffc107;
  color: #fff;
  border: none;
  border-radius: 0 20px 20px 0;
  padding: 10px 20px;
  margin-left: -1px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #ffca2c;
}

.social-icons {
  font-size: 1.2em;
  margin-right: 20px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ffc107;
}

footer {
  margin-top: auto;
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  font-size: 0.9em;
}
section {
  padding: 5rem;
  background-color: white;
}
.title {
  text-align: center;
  padding: 5.75rem 0rem;
  background-color: #a9d6e5;
  font-size: 10rem;
  color: #ffc101;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h1 {
  font-size: 10rem;
}
main * {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
  font-size: 3rem;
}
p {
  font-size: 1.5rem;
}
